/* �^�C�s���O�Q�[���S�� */
body {
  font-size: 6em; 
  text-align: center;
}

/* �Q�[���̎c��b�����\�������^�C�}�[�̗̈� */
.count {
  margin: 0;
  font-weight: bold;
  color: #888;
}

.typecount{
  margin: 0;
  font-weight: bold;
  color: #888;
}

/* �e�L�X�g���\�������̈� */
.wrap {
  margin-top: 20px;
  padding: 80px 40px;
  background-color: #666;
  font-weight: bold;
  color: #fff;
}

/* �������^�C�v���ꂽ�ꍇ�̃e�L�X�g */
.typed {
  color: lightgreen;
}

/* �~�X�^�C�v�̏ꍇ�̔w�i */
.mistyped {
  background-color: red;
}